$nav-bar-size: 64px;
$side-bar-size: 300px;
$hstrip-padding: 10px;

#side-bar {
    padding-top: 20px;
    padding-left: $hstrip-padding;
    padding-right: $hstrip-padding;
    top: $nav-bar-size;
    z-index: -1;
}

.profile-dropdown__image {
    $img-v-margin: 0.25 * $nav-bar-size;
    height: #{0.5 * $nav-bar-size};
    margin: $img-v-margin 15px $img-v-margin 0;
    float: left;
}

#profile-dropdown__menu {
    top: $nav-bar-size !important;
}

nav {
    padding-left: $hstrip-padding;
}

// {
//     position: fixed;
//     top: $nav-bar-size;
//     right: 0;
//     bottom: 0;
//     left: $side-bar-size;
// }

.side-bar {
    $filter-margin: 20px;

    &__sex {
        display: flex;
        justify-content: space-between;
        margin: $filter-margin;
    }

    &__age {
        margin: $filter-margin $filter-margin 30px;
    }
}
