.sex-label-element {
  margin-left: 1em;
}

.signup-form {

  input {
    text-align: center;
  }

  .react-datepicker__close-icon {
    position: relative;
    left: 0.7em;
  }
}

.signup-form__button {
  margin-top: 1em;
}