.enter-view-block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #1E88E5;
  text-align: center;
}

.enter-view-greetings {
  position: relative;
  top: 25%;
  font-size: 2.5em;
  color: white;
}