@import "../Constants.scss";

$side-bar-size: 300px;

#world-map {
    position: fixed;
    top: $nav-bar-size;
    right: 0;
    bottom: 0;
    left: $side-bar-size;
}

.side-bar {
    $filter-margin: 20px;
    overflow: hidden;

    &__sex {
        display: flex;
        justify-content: space-between;
        margin: $filter-margin;
    }

    &__age {
        margin: $filter-margin $filter-margin 30px;
    }

    &__country {
        margin: 1.5 * $filter-margin 0;
    }
}
